<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>{{ page.title }}</title>
	<meta name="keywords" content="">
	<meta name="description" content="">

    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <link href="/css/default.css" rel="stylesheet" type="text/css" media="screen"/>

<script type="text/javascript">
jQuery('.ui-state-default').live('mouseover mouseout', function(evt){
    if (evt.type == 'mouseover') {
        jQuery(this).addClass('ui-state-hover');
    } else {
        jQuery(this).removeClass('ui-state-hover');
    }
}
);
</script>

</head>

<body>

  <div id="header">
    <div id="logo">
      <h1><img src="/images/mytardis_logo.png"></h1>
    </div> <!-- logo -->
    <div id="menu">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about/">About</a></li>
	<li><a href="/partners/">Partners</a></li>
      </ul>
    </div> <!-- menu -->
  </div> <!-- end header -->

  <div id="headerbg">
    <div id="headerloginstatus" style="float: left">
      
  </div> <!-- headerloginstatus -->
    
  </div> <!-- headerbg -->

  <div id="page"> <!-- start page -->	
    <div id="content-box">
		      <div class="jqmAlertStatus" id="jqmAlertStatus">
				  <div class="jqmAlertWindowStatus">

					
					<div class="jqmAlertContentStatus" id="jqmAlertContentStatus"><a href="index.html#" class="jqmClose"></a>
					  <br/><span id="jqmStatusMessage"></span>
					</div> <!-- statusBox -->
					
				   </div> <!-- window -->
			   </div> <!-- status -->
      
      

      
      {{ content }}
      </div>


    </div> <!-- content box -->

    <div id="bottombar" style="padding-bottom: 5px; padding-left: 0px;">
	<div style="padding-left: 17px">
        Created by the <a target="_blank" style="text-decoration: underline" href="http://code.google.com/p/mytardis/">MyTARDIS Team</a> - Version 2.1
    	</div>
	</div> <!-- bottombar -->
  </div> <!-- page -->
</body>

</html>
